@font-face {
    font-family: ProjectPaintball;
    src: url("PROJECT_PAINTBALL.OTF") format("opentype");
}

body {
    overflow: hidden;
    font-family: 'ProjectPaintball';
    margin: 0;
}
#shoots {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.vanish {
    opacity: 0 !important;
}
.splatted {
    display: none;
}
.vanish .splatted {
    display: block;
}
.vanish .squid-vector {
    display: none;
}
.squid {
    width: 8%;
    height: 9%;
    opacity: 0.65;
    position: absolute;
    transition: transform 0.1s ease, opacity 3s ease;
}
.name {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    color: white;
    text-shadow: 3px -2px 3px black;
}
.hide {
    display: none;
}



.message-wrapper {
    width: 200%;
    position: absolute;
    top: -3.5rem;
    transform: translateX(-25%);
    z-index: 1;
    display: flex;
    justify-content: center;
}
.message-wrapper.md {
    top: -4.5rem;
}
.message-wrapper.lg {
    top: -6em;
}
.message-wrapper.xl {
    top: -7.5em;
}
.message {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.4rem 0.7rem;
    background-color: white;
    color: black;
    font-size: 1.6rem;
    text-shadow: none;
    max-width: 100%;
    font-size: 1.5rem;
}
.first .message {
    font-weight: bold;
    color: white;
    background-color: black;
    border: 2px solid white;
}
.xs .message {
    width: 60px;
    font-size: 2.2rem;
}
.sm .message {
    width: 95px;
    font-size: 1.8rem;
}
.md .message {
    width: 140px;
    font-size: 1.5rem;
}
.lg .message, .xl .message {
    width: 100%;
    font-size: 1.4rem;
}